.biblivre_form fieldset {
	padding: 10px;
	margin-bottom: 10px;
}

.history, .license, .softwares {
	p {
		margin-bottom: 10px;
		text-indent: 20px;
		text-align: justify;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.copyright, .gnu {
	p {
		margin-bottom: 10px;
		text-align: center;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}